# 10 数据连接

In [4]:
import pandas as pd
import numpy as np

df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b' ,'d'],
                        'data2' : np.random.randint(0,10,3)})

print(df_obj1)
print('-'*50)
print(df_obj2)

  key  data1
0   b      5
1   b      4
2   a      3
3   c      3
4   a      3
5   a      1
6   b      8
--------------------------------------------------
  key  data2
0   a      0
1   b      2
2   d      9

In [5]:
#默认连接使用相同的列名，连接方式是内连接
#内连接：只保留两表中都有的key值对应的行
pd.merge(df_obj1, df_obj2)

  key  data1  data2
0   b      5      2
1   b      4      2
2   a      3      0
3   a      3      0
4   a      1      0
5   b      8      2

In [8]:
#左df和右df都拿索引连接
pd.merge(df_obj1, df_obj2,left_index=True,right_index=True)

  key_x  data1 key_y  data2
0     b      5     a      0
1     b      4     b      2
2     a      3     d      9

In [9]:
#左表和右表都拿key列来连接
pd.merge(df_obj1, df_obj2, on='key')

  key  data1  data2
0   b      5      2
1   b      4      2
2   a      3      0
3   a      3      0
4   a      1      0
5   b      8      2

In [10]:
# 更改列名
df_obj1 = df_obj1.rename(columns={'key':'key1'})
df_obj2 = df_obj2.rename(columns={'key':'key2'})

In [11]:
df_obj1

  key1  data1
0    b      5
1    b      4
2    a      3
3    c      3
4    a      3
5    a      1
6    b      8

In [12]:
df_obj2

  key2  data2
0    a      0
1    b      2
2    d      9

In [13]:
#左表以key1来连接，右表以key2来连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2')

  key1  data1 key2  data2
0    b      5    b      2
1    b      4    b      2
2    a      3    a      0
3    a      3    a      0
4    a      1    a      0
5    b      8    b      2

In [14]:
#全外连接,保留所有的行，缺失值用NaN填充
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='outer')  #全外连接

  key1  data1 key2  data2
0    a    3.0    a    0.0
1    a    3.0    a    0.0
2    a    1.0    a    0.0
3    b    5.0    b    2.0
4    b    4.0    b    2.0
5    b    8.0    b    2.0
6    c    3.0  NaN    NaN
7  NaN    NaN    d    9.0

In [15]:
#left join 等价于 left  join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='left')

  key1  data1 key2  data2
0    b      5    b    2.0
1    b      4    b    2.0
2    a      3    a    0.0
3    c      3  NaN    NaN
4    a      3    a    0.0
5    a      1    a    0.0
6    b      8    b    2.0

In [11]:
# right等价于数据库的right join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='right')

  key1  data1 key2  data2
0    a    3.0    a      5
1    a    3.0    a      5
2    a    2.0    a      5
3    b    6.0    b      8
4    b    0.0    b      8
5    b    9.0    b      8
6  NaN    NaN    d      9

In [12]:
# 处理重复列名
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                        'data' : np.random.randint(0,10,3)})
#给相同的数据列添加后缀
print(pd.merge(df_obj1, df_obj2, on='key', suffixes=('_left', '_right')))

  key  data_left  data_right
0   b          4           4
1   b          3           4
2   b          9           4
3   a          9           6
4   a          7           6
5   a          4           6

In [13]:
# 按索引连接
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'data2' : np.random.randint(0,10,3)}, index=['a', 'b', 'd'])
print(df_obj1)
print(df_obj2)

  key  data1
0   b      5
1   b      0
2   a      5
3   c      3
4   a      2
5   a      5
6   b      1
   data2
a      5
b      9
d      7

In [14]:
print(pd.merge(df_obj1, df_obj2, left_on='key', right_index=True))

  key  data1  data2
0   b      5      9
1   b      0      9
6   b      1      9
2   a      5      5
4   a      2      5
5   a      5      5

In [15]:
pd.merge(df_obj2,df_obj1, left_index=True, right_on='key')

   data2 key  data1
2      5   a      5
4      5   a      2
5      5   a      5
0      9   b      5
1      9   b      0
6      9   b      1