# 6 Pandas的函数应用

In [2]:
import pandas as pd
import numpy as np
# Numpy ufunc 函数，randn跟的是维数
df = pd.DataFrame(np.random.randn(5,4) - 1)
print(df)

print(np.abs(df)) #绝对值

          0         1         2         3
0 -1.592713 -1.785126 -0.201787 -0.512268
1 -1.291571 -1.462035 -0.659178 -1.280966
2 -1.583268 -0.693593 -1.765583 -2.748184
3 -1.168695 -1.928146 -0.624450 -1.904199
4 -1.965140  0.228302 -0.918346 -2.543311
          0         1         2         3
0  1.592713  1.785126  0.201787  0.512268
1  1.291571  1.462035  0.659178  1.280966
2  1.583268  0.693593  1.765583  2.748184
3  1.168695  1.928146  0.624450  1.904199
4  1.965140  0.228302  0.918346  2.543311

In [3]:
#apply默认作用在列上,x是每一列,因为axis=0
print(df.apply(lambda x : x.max()))

0   -1.168695
1    0.228302
2   -0.201787
3   -0.512268
dtype: float64

In [4]:
#apply作用在行上
print(df.apply(lambda x : x.max(), axis=1))

0   -0.201787
1   -0.659178
2   -0.693593
3   -0.624450
4    0.228302
dtype: float64

In [5]:
# 使用map应用到每个数据
print(df.map(lambda x : '%.2f' % x))
print('-'*50)
df.dtypes

0    float64
1    float64
2    float64
3    float64
dtype: object

In [6]:
type('%.2f' % 1.3456)#字符串格式化，保留两位小数

str

|## 6.4 索引排序（不重要）

In [7]:
# Series
print(np.random.randint(5, size=5))
print('-'*50)
s4 = pd.Series(range(10, 15), index = np.random.randint(5, size=5)) #索引随机生成
print(s4)
print('-'*50)
# 索引排序,sort_index返回一个新的排好索引的series
print(s4.sort_index())
print(s4)
# s4.loc[0:3]  loc索引值不唯一时直接报错
print(s4.iloc[0:3])
s4[0:3]  #默认用的位置索引

4    10
2    11
4    12
dtype: int64

In [8]:
# s4.loc[1:2] #loc索引值唯一时可以切片

In [9]:
# DataFrame
df4 = pd.DataFrame(np.random.randn(5, 5),
                   index=np.random.randint(5, size=5),
                   columns=np.random.randint(5, size=5))
print(df4)
#轴零是行索引排序
df4_isort = df4.sort_index(axis=0, ascending=False)
print(df4_isort)

          0         3         3         1         2
0  1.566944 -1.342952 -0.397413 -0.083683  0.025226
2  0.381836 -1.490707  1.075806 -0.531110 -0.404897
4  0.713277  0.463603 -1.734758 -0.992867  0.669684
0 -1.473603 -0.903965  0.685384 -0.113611 -0.032366
2  0.848230  0.982946  1.519781 -0.299192 -0.919668
          0         3         3         1         2
4  0.713277  0.463603 -1.734758 -0.992867  0.669684
2  0.848230  0.982946  1.519781 -0.299192 -0.919668
2  0.381836 -1.490707  1.075806 -0.531110 -0.404897
0  1.566944 -1.342952 -0.397413 -0.083683  0.025226
0 -1.473603 -0.903965  0.685384 -0.113611 -0.032366

In [10]:
#轴1是列索引排序
df4_isort = df4.sort_index(axis=1, ascending=True)
print(df4_isort)

          0         1         2         3         3
0  1.566944 -0.083683  0.025226 -1.342952 -0.397413
2  0.381836 -0.531110 -0.404897 -1.490707  1.075806
4  0.713277 -0.992867  0.669684  0.463603 -1.734758
0 -1.473603 -0.113611 -0.032366 -0.903965  0.685384
2  0.848230 -0.299192 -0.919668  0.982946  1.519781

# 6.5 按值排序（机器学习，深度学习不重要，数据分析才需要）

In [11]:
# 按值排序,by后是column的值
import random
l=[random.randint(0,100) for i in range(24)] #生成24个随机数
df4 = pd.DataFrame(np.array(l).reshape(6,4)) #生成6行4列的dataframe
# print(df4) #查看数据,ndarray
# print('-'*50)
print(df4)
print('-'*50)
#按轴零排序，by后是列名,交换的是行
df4_vsort = df4.sort_values(by=3,axis=0, ascending=False) #寻找的是columns里的3,重要
print(df4_vsort)

    0   1   2   3
0  69  97  22  98
1  16  67  10  23
2  36  85   3   1
3  29  96  21  58
4  67  31  87  94
5  54  34  65  12
--------------------------------------------------
    0   1   2   3
0  69  97  22  98
4  67  31  87  94
3  29  96  21  58
1  16  67  10  23
5  54  34  65  12
2  36  85   3   1

In [12]:
#按轴1排序，by后行索引名，交换的是列
df4_vsort = df4.sort_values(by=3,axis=1, ascending=False) #寻找的是index里的3
print(df4_vsort)

    1   3   0   2
0  97  98  69  22
1  67  23  16  10
2  85   1  36   3
3  96  58  29  21
4  31  94  67  87
5  34  12  54  65

# 6.6 处理缺失数据（重要）

In [13]:
df_data = pd.DataFrame([np.random.randn(3), [1., 2., np.nan],
                       [np.nan, 4., np.nan], [1., 2., 3.]])
print(df_data.head())

          0         1         2
0 -0.809652  0.122205  0.037602
1  1.000000  2.000000       NaN
2       NaN  4.000000       NaN
3  1.000000  2.000000  3.000000

In [14]:
df_data.iloc[2,0]#iloc是按位置索引，loc是按标签索引

np.float64(nan)

In [15]:
#isnull来判断是否有空的数据
print(df_data.isnull())

       0      1      2
0  False  False  False
1  False  False   True
2   True  False   True
3  False  False  False

In [16]:
#帮我计算df_data缺失率
print(df_data.isnull().sum()/len(df_data))

0    0.25
1    0.00
2    0.50
dtype: float64

## 删除缺失数据

In [18]:
#默认一个样本，任何一个特征缺失，就删除
#inplace True是修改的是原有的df
#subset=[0]是指按第一列来删除,第一列有空值就删除对应的行
print(df_data.dropna(subset=[0]))
# df_data

          0         1         2
0 -0.809652  0.122205  0.037602
1  1.000000  2.000000       NaN
3  1.000000  2.000000  3.000000

In [19]:
df_data

          0         1         2
0 -0.809652  0.122205  0.037602
1  1.000000  2.000000       NaN
2       NaN  4.000000       NaN
3  1.000000  2.000000  3.000000

In [20]:
#用的不多，用在某个特征缺失太多时，才会进行删除
print(df_data.dropna(axis=1))  #某列由nan就删除该列

          1
0  0.122205
1  2.000000
2  4.000000
3  2.000000

In [21]:
df_data

          0         1         2
0 -0.809652  0.122205  0.037602
1  1.000000  2.000000       NaN
2       NaN  4.000000       NaN
3  1.000000  2.000000  3.000000

## 填充缺失数据

In [ ]:
#均值，中位数，众数填充

In [24]:
#给零列的空值填为-100，按特征（按列）去填充
print(df_data.iloc[:,0].fillna(-100.))
#df_data

0     -0.809652
1      1.000000
2   -100.000000
3      1.000000
Name: 0, dtype: float64

In [23]:
#依次拿到每一列
for i in df_data.columns:
    print(df_data.loc[:,i])

0   -1.264229
1    1.000000
2         NaN
3    1.000000
Name: 0, dtype: float64
0   -0.514817
1    2.000000
2    4.000000
3    2.000000
Name: 1, dtype: float64
0    1.420473
1         NaN
2         NaN
3    3.000000
Name: 2, dtype: float64

In [26]:
df_data.iloc[:,0].fillna(-100.,inplace=False) #inplace=True表示修改原有的df_data,False表示返回一个新的df_data

0     -0.809652
1      1.000000
2   -100.000000
3      1.000000
Name: 0, dtype: float64

In [27]:
df_data.iloc[:,2]=df_data.iloc[:,2].fillna(df_data.iloc[:,2].mean()) #用均值填充空值

In [27]:
df_data

          0         1         2
0 -0.809652  0.122205  0.037602
1  1.000000  2.000000       NaN
2       NaN  4.000000       NaN
3  1.000000  2.000000  3.000000